/* ===== RESET SIMPLE ===== */
body {
    margin: 0;
    font-family: Arial, sans-serif;
}

/* ===== HERO SECTION ===== */
.hero-section {
    background: linear-gradient(to right, #ff5703, #fc9802);
    color: rgb(211, 3, 3);
    padding: 100px 20px;
}

.hero-section h1 {
    font-size: 2.5rem;
}

/* ===== PRODUITS ===== */
.product-card {
    background-color: #ce0f0f;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 4px 10px rgba(237, 5, 5, 0.1);
    transition: transform 0.3s;
}

.product-card:hover {
    transform: translateY(-5px);
}

.product-card img {
    width: 100%;
    border-radius: 5px;
    margin-bottom: 15px;
}

.product-card h3 {
    font-size: 1.2rem;
}

/* ===== FOOTER ===== */
footer p {
    margin: 0;
}

/* ===== MEDIA QUERIES (Responsive) ===== */
@media (max-width: 768px) {
    .hero-section h1 {
        font-size: 2rem;
    }
}
